{% extends "base.html.twig" %}

{% block title %} Accueil{% endblock title %}

{% block body %}
<section class="content-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div id="carouselExampleSlidesOnly" class="carousel slide  " data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active d-flex justify-content-center">
                                <img src="{{ asset ('images/carousselle.jpg') }}" class="img-fluid w-50  " alt="...">
                            </div>
                            <div class="carousel-item d-flex justify-content-center">
                                <img src="{{ asset ('images/carousselle.jpg') }}" class="img-fluid w-50 " alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h1 class="text-center">les Dossiers:</h1>
            <section id="groups">
                <div class="row match-height my-3">
                    <div class="col-12">
                        <div class="card-group ">

                            <!-- carte des dossiers de la semaine-->
                            {% for dossier in dossiers %}
                            <div class="card mx-3">
                                <div class="card-content">
                                    <img class="card-img-top img-fluid" src="{{(dossier.image) }}" alt="Card image cap">
                                    <div class="card-body">
                                        <h4 class="card-title"> {{ dossier.title }} </h4>
                                        <p class="card-text">{{ dossier.content|u.truncate(200, '...', false) }} </p>
                                        <small class="text-muted"> {{dossier.createdAt|date("m/d/Y") }} </small>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!--fin du traitement dynamic de la section "dossier de la semaine"-->

                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>
</div>

<h2 class="text-center">l'Actualité de la semaine</h2>

<section class=" content-fluid d-flex ">
    <div class="col-md-6 col-sm-12">
        <div class="card">

            <!--traitement dynamic de la section "actualité de la semaine"-->
            {% for actualite in actualites %}

            <div class="card-content">
                <img class="card-img-top img-fluid" src="{{(actualite.image) }}" alt="Card image cap"
                    style="height: 20rem" />
                <div class="card-body">

                    <h4 class="card-title">{{ actualite.title }}</h4>
                    <p class="card-text">{{ actualite.content|u.truncate(200, '...', false) }}</p>
                    <p class="card-text">
                        Cupcake fruitcake macaroon donut pastry gummies tiramisu chocolate bar muffin.
                    </p>
                    <small class="text-muted">{{actualite.createdAt|date("m/d/Y") }}</small>
                </div>
            </div>

            <!--fin du traitement dynamic de la section " actualité de la semaine"-->
            {% endfor %}
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="card">
            <!--traitement dynamic de la section "actualité de la semaine 2"-->
            {% for actualite in actualites %}

            <div class="card-content">
                <div class="card-body">
                    
                    <h4 class="card-title">{{ actualite.title }}</h4>
                    <p class="card-text">{{ actualite.content|u.truncate(200, '...', false) }}</p>
                    <p class="card-text">
                        Cupcake fruitcake macaroon donut pastry gummies tiramisu chocolate bar muffin.
                    </p>
                    <small class="text-muted">{{actualite.createdAt|date("m/d/Y") }}</small>
                    <img class="card-img-top img-fluid" src="{{(actualite.image) }}" alt="Card image cap"
                        style="height: 20rem" />
                </div>
            </div>

            <!--fin du traitement dynamic de la section " actualité de la semaine 2"-->
            {% endfor %}
        </div>
    </div>
    </div>
</section>
{% endblock body %}